/*
.first-color { 
	blue-dark:  #155263; 
}
	
.second-color { 
	dark orange: #ff6f3c; 
}

.third-color { 
	light orange: #ff9a3c; 
}

.fourth-color { 
	yellow: #ffc93c; 
}

gray: #eeeeee;
dark gray: #636060;
*/
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #eeeeee;
    /*border: 3px solid yellow;*/
}

.ext-hdr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #005792;
    overflow: hidden;
}

.header {
    width: 100%;
    background-color: #005792;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
}

.logo{
    height: 55px;
    width: 55px;
    background-color: #fdb44b;
    border-radius: 50%;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: inherit;
}


.logo:hover{
    opacity: .5;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid yellow;
}

.feed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    border: 1px solid red;
    margin: 2%;
}

/*.filler {*/
/*    width: 25%;*/
/*}*/
/*.contacts {*/
/*    width: 30%;*/
/*}*/

.search {
    display: flex;
    width: 95%;
    margin: 3%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00bbf0;
    border-radius: 10px;
    max-width: 800px;
}

h5 {
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    margin-top: 4%;
    font-size:40px;
    color: #636060;
    margin-left: 4%;
}

h6{
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    font-size: 14px;
    color: #00204a;
    margin-left: 10px;
    margin-top: 10px;
}

.search-bar{
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    border-radius: 10px;
    border: none;
    width: 90%;
    padding-left: 10px;
    margin: 4%;
    position: relative;
    background-color: #eeeeee;
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
    color: #636060;
}

.add-neighbors{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 5%;
    background-color: #005792;
    border-radius: 10px;
    max-width: 800px;
}

.usr-profile {
    display: flex;
    width: 25%;
    margin: 4%;
    flex-direction: column;
}

.format {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.brief-desc {
    background-color: #eeeeee;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add-btn {
    margin: 5%;
    width: 80%;
    background-color: #fdb44b;
    color: #00204a;
    border: none;
    border-radius: 10px;
    padding: 4%;
    text-decoration: none;
}

.add-btn:hover {
    cursor: pointer;
    opacity: .5;
}


.post {
    display: flex;
    flex-direction: column;
}

.post-header {
    
}

.post-image {

}


#bars {
    color: #ff9a3c;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #155263;
}


/*@media only screen and (max-width: 400px) {*/
  .q-display { /* Masonry container */
/*    width: 90%;*/
/*    border: 1px solid black;*/
    /*flex: 70%;*/
/*    margin: 15px;*/
/*    column-count: 4;*/
/*    column-gap: 1em;*/
/*}*/
/*}*/

/* Tablet Styles */
/*@media only screen and (min-width: 401px) and (max-width: 960px) {*/
  
    .q-display { /* Masonry container */
/*        width: 90%;*/
/*        border: 1px solid black;*/
        /*flex: 70%;*/
/*        margin: 15px;*/
/*        column-count: 6;*/
/*        column-gap: 1em;*/
/*    }*/

/*}*/

/* Desktop Styles */
/*@media only screen and (min-width: 961px) {*/
    .q-display { /* Masonry container */
/*        width: 90%;*/
/*        border: 1px solid black;*/
        /*flex: 70%;*/
/*        margin: 15px;*/
/*        column-count: 8;*/
/*        column-gap: 1em;*/
/*    } */
/*}*/